<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Machine learning</b>: It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Technology</b>: I'm not a NERD but I love Technology. I thrive to learn new technologies, not just new in the market but anything that's new to me.
				  It goes without saying that Automation is the need of the hour, and that is exactly what I love doing.
			  </li>
			  <li>
				  <b>Hobbies</b>: I love to write, cook sometimes, traveling and Music obviously is the essence of my life like most of us. Oh, and I love teaching, I mean anything to anybody at all.
				  I've conducted various sessions for bench resources for their skill upgrading.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
			Developing Helm charts for our microservices to implement helm over kubernetes. Helm is a super cool tool that is going to save us 
			the copy pasting same yaml files for multiple applications and having clutter of yaml files in our codebase.
    		</li>
  			<li>
            Develop our own custom tool for automated infrastructure provisioning.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
			Member of NAGP(Nagarro's Accelerated Growth Programme) where we break all barriers of comfort zone to learn new technologies and implement 
			them in various POCs and RFPs. 
  			</li>
  			<li>
  			Teach underpriveleged students on holidays and weekends because why not? It brings me peace!
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
